{% extends 'base.html' %}
{%  block content %}
    {% if 'manager' in user.groups.all.0.name or user.is_staff %}
    <div class="container">
        <div class="col-md-8">
            <h3 style="margin: 50px 0">Створити блюдо</h3>
            <form name="dishForm" enctype="multipart/form-data" id="dishForm" novalidate action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-custom btn-lg">Створити</button>
            </form>
        </div>
    </div>
    {% else %}
        <h1 align="center">У Вас немає доступу до цієї сторінки</h1>
    {% endif %}
{% endblock %}